*{
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.banner{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.795),rgba(23, 77, 26, 0.452)),
    url("../img/leaf-banner.jpg");
    background-position: top center;
    background-size: cover;
    z-index: 1;
    height: 925px;
    position: relative;
    align-items:center;
    flex-direction: column;
    text-align: center;
    background-attachment: fixed;
}

.title_subtitle-container{
    margin-top: 150px;
    background-color: rgba(255, 255, 255, 0.082);
    border: 1px solid white;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 90%;
    max-width: 450px;
    height: 200px;
    box-shadow: 10px 10px 70px 30px black;
}

.nav-bar{
    width: 100%;
    margin-top: 25px;
    box-sizing: border-box;
}

.nav-bar > ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.nav-bar > ul > li{
    padding: 5px;
}

.nav-bar > ul > li > a{
    font-size: 20px;
    list-style: none;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
}

.nav-bar > ul > li > a:hover{
    transition: 0.5s;
    opacity: 0; 
    text-shadow: -5px 8px 3px rgb(255, 255, 255);
    animation: appearDisappear 1.5s infinite;
}

.page{
    font-size: 20px;
    margin-top: 150px;
    margin-right: 18px;
    text-align: center;
    color: white;
    letter-spacing: 3px;
}

.title {
    font-size: 35px;
    font-style: normal;
    opacity: 0; 
    letter-spacing: 10px;
    animation: appearDisappear 1.5s infinite; 
}


.leaf-container{
    display: flex;
    justify-content: center;
    position:absolute;
    width: 100%;
    top: 895.5px;
    transform: rotate(225deg);
    z-index: 1;
}

.leaf{
    height: 60px;
}

@keyframes appearDisappear {
    0%, 100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}
.subtitle{
    font-size: 20px;
    font-family: "Jersey 15", sans-serif;
    text-align: center;
    align-content: center;
    font-weight: normal;
    font-style: normal;
}